<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
    <system.webServer>
		<rewrite>
			<rules>
				<!--<rule name="Rewrite to index.php">
					<match url="index.php|robots.txt|images|test.php" />
					<action type="None" />
				</rule>-->
				<rule name="Rewrite CI Index">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="(/images/)|(/wpf/)|(/web/)" negate="true"/>
						<add input="{REQUEST_FILENAME}" pattern="index.php|robots.txt|css|js|jpg|jpeg|png|gif|ico|htm|html|xbap|svc|deploy|manifest|dll|exe" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:0}" />
				</rule>
			</rules>
		</rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="php-5.3.6" />
	    <remove name="ISAPI-dll" />
	    <add name="PHP_via_FastCGI" path="*.php" verb="*" type="" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        
        
        
    </system.webServer>   
</configuration>
