<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="edge.services" type="Easynet.Edge.Core.Configuration.ServicesSection, Edge.Core" />
		<section name="convertAccounts" type="Easynet.Edge.Services.FileImport.Configuration.XmlNodeSectionHandler, Edge.Services.FileImport" />
		<section name="convertionTypes" type="Easynet.Edge.Services.FileImport.Configuration.XmlNodeSectionHandler, Edge.Services.FileImport" />
		<!--<section name="DirectBackOffice" type="Easynet.Edge.Services.DataRetrieval.Configuration.FieldElementSection, Edge.Services.DataRetrieval" />-->

	</configSections>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Services" />
		</assemblyBinding>
	</runtime>

	<!-- ======================================================== -->
	<!--						App Settings					  -->
	<!-- ======================================================== -->
	<appSettings>s
		<add key="DebugMode" value="true" />

		<!--Core-->
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="200" />
		<add key="Easynet.Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="Easynet.Edge.Core.Services.Service.AssemblyDirectory" value="Services"/>
		<add key="Easynet.Edge.Core.Configuration.ServiceElement.DefaultMaxExecutionTime" value="00:40:00"/>
		<add key="Easynet.Edge.Core.Utilities.Log.LogName" value="easynet Edge"/>
		<add key="Easynet.Edge.Core.Domain" value="seperia.hz"/>

		<add key="Easynet.Edge.Services.ScheduleManagement.ScheduleBuilder.ResultsRoot" value="E:\Edge\Seperia\Files\Legacy\Retrieved Files" />
		<add key="Easynet.Edge.Services.ScheduleManagement.ScheduleTable.KeepAliveCheckTime" value="5" />
		<add key="MyScheduler.Scheduler.Percentile" value="80"/>
		<add key="MyScheduler.Scheduler.NeededScheduleTimeLine" value="02:00:00"/>
		<add key="MyScheduler.Scheduler.IntervalBetweenNewSchedule" value="00:10"/>
		<add key="MyScheduler.Scheduler.FindServicesToRunInterval" value="00:01"/>
		<add key="MyScheduler.Scheduler.DeleteEndedServiceInterval" value="24:00:00"/>

		<!--BaseService-->
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.SourceConnectionString" value="Data Source=localhost;Initial Catalog=Seperia_System_21;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.ResultsRoot" value="E:\Edge\Seperia\Files\Legacy\Retrieved Files" />

		<!--RetrieverService-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.UserAgent" value="Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US; rv:1.8.1.3) Gecko/20070309 Firefox/2.0.0.3" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.FileExtension" value="xml" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.RequestTimeout" value="0:05:00" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.ReadTimeout" value="0:05:00" />

		<!--Adwords-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.MaxRetries" value="2" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.PrecentDiffrence" value="1" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.TargetSubDirectory" value="Google\AdwordsSearch\" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdWordsCreativeProcessor.ErrorSubDirectory" value="Google\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdWordsCreativeProcessor.FileExtension" value="txt" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdwordsContentProcessor.ErrorSubDirectory" value="Google\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdwordsContentProcessor.FileExtension" value="txt" />

		<!--BackOffice Retriever-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.MaxRetries" value="2" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.PrecentDiffrence" value="1" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.TargetSubDirectory" value="BackOffice\" />

		<!--Importer-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.ImporterRetriever.TargetSubDirectory" value="IMPORT\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.ImporterRetriever.FileExtension" value="txt" />

		<add key="Easynet.Edge.Services.DataRetrieval.Processor.ImporterProcessor.ErrorSubDirectory" value="IMPORT\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.ImporterProcessor.FileExtension" value="txt" />
	</appSettings>

	<connectionStrings>
		<add name="Easynet.Edge.UI.Data.Properties.Settings.easynet_OltpConnectionString"
			connectionString="Data Source=localhost;Initial Catalog=easynet_OLTP;Integrated Security=False;User ID=SeperiaServices;PWD=Asada2011!;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>



	<edge.services>
		<!-- ============ Extensions ============ -->
		<Extensions>
			<Extension Name="Directories" Type="Easynet.Edge.Services.FileImport.Configuration.DirectoryElementCollection, Edge.Services.FileImport"/>
			<Extension Name="FileTypes" Type="Easynet.Edge.Services.FileImport.Configuration.FileTypeElementCollection, Edge.Services.FileImport"/>
		</Extensions>

		<!-- ======================================================== -->
		<!--						Services						  -->
		<!-- ======================================================== -->
		<Services>

			<!-- =============== ScheduleManager =============== -->
			<Service Name="SeperiaWebImporter"
					 Class="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService, Edge.Services.ScheduleManagement"
					 />


		
			<!-- =============== WebImporter =============== -->
			<Service Name="LegacyWebImporter" Class="Easynet.Edge.Services.FileImport.WebImporterService, Edge.Services.FileImport">
				<FileTypes>
					<!--Microsoft.Jet.OLEDB.4.0-->
					<FileType Extension=".xlsx" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='Excel 12.0;HDR=Yes;'"/>
					<FileType Extension=".xls" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='Excel 8.0;HDR=Yes;IMEX=1;ImportMixedTypes=Text;TypeGuessRows=60'"/>
					<FileType Extension=".csv" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='text;HDR=Yes;FMT=Delimited'"/>
				</FileTypes>
			</Service>
			<Service Name="DirectWebImporter" Class="Easynet.Edge.Services.FileImport.WebImporterService, Edge.Services.FileImport"
					 DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\"
					 DirectUpload.Bing.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Bing\"
					 />
		</Services>

		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>
			<Account Name="Easy Forex" ID="7">
				<Services>
					<Service Uses="LegacyWebImporter"/>
					<Service Uses="DirectWebImporter" DirectUpload.Yahoo.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\EasyForex\"/>
				</Services>
			</Account>
			<Account Name="Eye Buy Direct" ID="1001">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\EyeBuyDirect\"/>
				</Services>
			</Account>
			<Account Name="Yola" ID="1005">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\Yola\"/>
				</Services>
			</Account>
			<Account Name="Conduit" ID="95">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Bing.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Bing\"
													  DirectUpload.Yahoo.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Yahoo\Conduit\"
													  DirectUpload.Creative.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Other_Advertising_Channel\"
													  DirectUpload.BO.Path= "E:\Edge\Seperia\Files\IMPORT\Legacy\BackOffice\Conduit"
					/>
				</Services>
			</Account>
			<Account Name="PcSpeed" ID="1007">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\PcSpeed\"/>
				</Services>
			</Account>
			<Account Name="OOVOO" ID="1014">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Creative.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Other_Advertising_Channel\"
													  DirectUpload.BO.Path="E:\Edge\Seperia\Files\IMPORT\BackOffice\OOVOO\"/>
				</Services>
			</Account>
			<Account Name="White Smoke" ID="1235">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Creative.Path="DE:\Edge\Seperia\Files\Legacy\IMPORT\Other_Advertising_Channel\"
													  DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\Direct\"/>
				</Services>
			</Account>
			<Account Name="DriversDoctor" ID="1241">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="E:\Edge\Seperia\Files\IMPORT\BackOffice\Direct\"/>
				</Services>
			</Account>
			<Account Name="Top Scratch" ID="1248">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\Direct\"/>
				</Services>
			</Account>
			<Account Name="Ask.com" ID="1002">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\BackOffice\Direct\"/>
				</Services>
			</Account>
			<Account Name="Harmon.ie" ID="1240">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Creative.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Other_Advertising_Channel\"/>
				</Services>
			</Account>
			<Account Name="InterTrader" ID="1239">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Creative.Path="E:\Edge\Seperia\Files\Legacy\IMPORT\Other_Advertising_Channel\"/>
				</Services>
			</Account>
		</Accounts>
	</edge.services>


	<!-- ======================================================== -->
	<!--				Web Importer configuration (Noam)		  -->
	<!-- ======================================================== -->

	<!--============================  CONVERT ACCOUNTS ========================================-->

	<convertAccounts>
		<Account id="7">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<!--SaveFilePath is not relevant but neccary for -->
		<SaveFilePath>E:\</SaveFilePath>
	</convertAccounts>


	<!--============================  CONVERSION TYPE ========================================-->

	<convertionTypes>
		<_888BackOffice>
			<class>888Convertor</class>
			<tmpHeader  serial="Gateway_id" date="Day_code" Benefited_publisher_name="AccountName" ClientSpecific="ClientSpecific"></tmpHeader>
			<TableHeaderCounter>7</TableHeaderCounter>
			<AccountNameRows >888</AccountNameRows>
			<FileSavePath>E:\temp\</FileSavePath>
			<ProcessorFilePath>E:\temp\</ProcessorFilePath>
		</_888BackOffice>
	</convertionTypes>

	<!-- ======================================================== -->
	<!--				WCF configuration						  -->
	<!-- ======================================================== -->

	<system.serviceModel>
		<!--Server configuration-->
		<services>
			<service name="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService" behaviorConfiguration="behavior">
				<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/SeperiaWebImporter" />
			</service>
		</services>

		<!--Client configuration 
		 Just copy&paste the <endpoint> elements from the <services> element-->
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/SeperiaWebImporter" />
		</client>

		<behaviors>
			<serviceBehaviors>
				<behavior name="behavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>

			<netTcpBinding>
				<binding name="edgeServiceCommBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
			</wsHttpBinding>
		</bindings>

	</system.serviceModel>

</configuration>


