<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
		<section name="SmtpConnection" type="System.Configuration.SingleTagSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Edge\SeperiaDeliveryFiles"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost;Initial Catalog=Seperia_System_29;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Seperia_System_29;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=localhost;Initial Catalog=Deliveries;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name ="Edge.Services.Facebook.UpdateCampaignStatus.UpdateCampaignStatus.DB" connectionString="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<!--Validation Services-->
		<add name="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService.OltpDB" connectionString="Data Source=localhost; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>

		<!--Adwords-->
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=localhost; Database=Seperia;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.Google.Adwords.GoogleUserEntity.MCC_Auth" connectionString="Data Source=localhost; Database=Seperia;User ID=edge1;PWD=Blublu*2!"/>
		<!--Adwords-->

	</connectionStrings>

	<SmtpConnection
			server="70.39.235.94"
			port="25" user="edge.alerts@seperia.com"
			pass="66A51CB8B1C7EF613FBA2C3E2FC9F252"
			UseDefaultCredentials = "false"
			EnableSsl = "false">
	</SmtpConnection>

<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>
		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			<!-- ======== UpdateCampaignStatus ======== -->
			<Service Name="Facebook.UpdateCampaignStatus"
					 IsEnabled="true"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 Facebook.BaseServiceAdress="https://graph.facebook.com"
					 Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
					 Facebook.Auth.ApiKey="168436873232861"
					 Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
					 Facebook.Auth.RedirectUri="http://www.seperia.com/"
					 MaxExecutionTime="00:40:00"
					 MaxInstances="11"
					 MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="UpdateCampaignStatus" />
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="00:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="00:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="01:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="01:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="02:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="02:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="03:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="03:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="04:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="04:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="05:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="05:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="06:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="06:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="07:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="07:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="08:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="08:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="09:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="09:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="10:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="10:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="11:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="11:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="12:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="12:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="13:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="13:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="14:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="14:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="15:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="15:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="16:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="16:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="17:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="17:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="18:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="18:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="19:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="19:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="20:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="20:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="21:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="21:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="22:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="22:30" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="23:00" CalendarUnit="Day" MaxDeviation="00:30" />
					<Rule ExactTimes="23:30" CalendarUnit="Day" MaxDeviation="00:30" />
				</SchedulingRules>
			</Service>
			<Service Name="UpdateCampaignStatus" IsPublic="false" Class="Edge.Services.Facebook.UpdateCampaignStatus.UpdateCampaignStatus,Edge.Services.Facebook.UpdateCampaignStatus"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.GraphApi"
						IsEnabled="true"
						DeliveryFilesDir="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/"
						Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
						SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="AdMetricsCommit"/>
				</Workflow>
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.InitializerService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.RetrieverService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.ProcessorService,Edge.Services.Facebook.GraphApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>


			<Service Name="checksum" Class="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService,Edge.Services.AdMetrics.Validations"/>
			<Service Name="GoogleInitializer" IsPublic="false" Class="Edge.Services.Google.AdWords.InitializerService, Edge.Services.Google.AdWords"/>
			<Service Name="FTP.Initializer" IsPublic="false" Class="Edge.Services.FTP.InitializerService, Edge.Services.FTP"/>
			<Service Name="FTP.Retriver" IsPublic="false" Class="Edge.Services.FTP.RetrieverService, Edge.Services.FTP"/>
			<Service Name="FTP.LocalFileHandller" IsPublic="false" Class="Edge.Services.FTP.LocalFileHandllerService, Edge.Services.FTP"/>
			<Service Name="FTP.FtpFileHandllerService" IsPublic="false" Class="Edge.Services.FTP.FtpFileHandllerService, Edge.Services.FTP"/>
			<Service Name="GoogleRetriver" IsPublic="false" Class="Edge.Services.Google.AdWords.RetrieverService, Edge.Services.Google.AdWords"/>
			<Service Name="GoogleProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.ProcessorService, Edge.Services.Google.AdWords" AutoAdGroupSegment="true"/>
			<Service Name="DataChecks.OltpDelivery"		IsPublic="false" Class="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService, Edge.Services.AdMetrics.Validations" AutoAdGroupSegment="true"/>
			<Service Name="DataChecks.ResultsHandler" IsPublic="false" Class="Edge.Services.AdMetrics.Validations.ValidationResultsHandler, Edge.Services.AdMetrics.Validations" AutoAdGroupSegment="true"/>

		</Services>


		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>
			<!-- ======== EasyForex ======== -->
			<Account ID="7" Name="EasyForex" >
				<Services>
				<Service Uses="Facebook.UpdateCampaignStatus"
						 Facebook.Account.Name="EasyForex"
						 Facebook.Account.ID="52081533"
						 Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"/>
				</Services>
			</Account>
			<!-- ======== Proportzia ======== -->
			<Account ID="42" Name="Proportzia" >
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
						Facebook.Account.Name="Proportzia"
						Facebook.Account.ID="101082200000403"
						Facebook.Auth.SessionSecret="AQDJyEhHT8q592MyVoHa1RSyoFbsM71VjyCB7qRZTJyCeiTOm6D3N4rGKyw7U6vIlb6n8goQzB_FHp7SGnjmI3PvwAFF2PS9YaUouIPy-gvopyeSU5bc7Sw_pVCw5i9chsb80exxUunNuVIAbHyuGlbOpp2DU7vWTHeH1fAcgudpPeefP2HKM3V2ZXLFGN12dLI#_=_"/>
				</Services>
			</Account>
			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"
							Facebook.Auth.SessionSecret="AQCS2hl57gcnkvnCIdYi6ymUjr8JApWJKLE_BKY57sSfzKRekcjvrZYvhoPeun_4Xp-aDg3k0VXfHNz3XCd97JpqVMLvwyHSlcZWyPaJ8ybPagVdspEKkuSvpG_tQnWHQKVY6fI_WSrWezV24zu9OTu9PIjMv6UNKtS1TwngNfkLa7xl5kDMUfOM2i1-JZysLmU#_=_"/>
				</Services>
			</Account>
			<!-- ======== Bbinary ======== -->
			<Account ID="1006" Name="Bbinary" >
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							 Facebook.Account.Name="Bbinary"
							 Facebook.Account.ID="263939553"
							 Facebook.Auth.SessionSecret="AQDEOzF7Z8rRvQwD-9AjavIx5M3iRElCnoVfQD1pnoIS-rNIdqspsRwiYnP-pL4fH0qNtTw9gEO2CH7lsEhvVrBsaDDrGRQ-0DAO53IYRRnZCKhwyUecpIiMAXMs5PoCPlipA_A-EwMREwXN1498ODmDkcwJeXSIpAw5FCw8tz4tLimSvIrMzQNAodx0uz7dRDc#_=_"/>
				</Services>
			</Account>
			<!-- ======== PC Speed ======== -->
			<Account ID="1007" Name="PC Speed">
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							 Facebook.Account.Name="PC Speed"
							 Facebook.Account.ID="351560853"
							 Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"/>						
				</Services>
			</Account>
			<!-- ======== Stock Pair ======== -->
			<Account ID="1249" Name="Stock Pair">
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="Stock Pair"
							Facebook.Account.ID="106380492783821"
							Facebook.Auth.SessionSecret="AQAPH8AOohLWP8ynvLVUF1hAdvp5DeLXi7YfhruUTVWtPXo_huT00-xdVXV5Wxe0evvweIofwFaFC9xRxfsQOLlY2wHDhfpK4q7sN-4k0bkD9exG7lz1P64vP14cl3YV7-hJpKHFOyjov09vAgObrwtrkKTIBWYmLjABFDO7AJrZK7qJt41OQOagHHaGLukXLck#_=_"/>
				</Services>
			</Account>
			<!-- ======== harmon.ie ======== -->
			<Account ID="1240" Name="harmon.ie">
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="harmon.ie"
							Facebook.Account.ID="100912583340137"
							Facebook.Auth.SessionSecret="AQDc_FMq73twCvAltDwPh3jRO7t7SGUsqcgksKTepncSKqom2X4zV_k7fZxwqmiK-z3fz3oWSMmwwLohThQUOoQ6Bc7PGaEGpSYXoGLm_0-YuNBRm7qUejL9jCRrLYkEI5ZHpkoweU1WYWuYsb2dnUtoLNxMu6CWFnuKzGfl2aV3gkLVsNki7WXv3EVrw4rHUCg#_=_"/>
				</Services>
			</Account>
			<!-- ======== Magisto ======== -->
			<Account ID="1240226" Name="Magisto" >
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="Magisto"
							Facebook.Account.ID="104545522979268"
							Facebook.Auth.SessionSecret="AQAl2Uxn8md9f7XZOkUVLplQgaQ0F5MayCeQ4EdlvwQ2vDWSG92V9fsNR_cVZdWr6zo6XQ3Yt587Gaj9gRrjz1sZRU0LZeMcbpcEEj6rM9rwciCvLytmKqGGsMCYnFmum_liMBvcbBK6Mta207eetgEqihx0jro_3XctyCrNUmYoamoWfCuppvp20NrUcJYH3gE#_=_"/>
				</Services>
			</Account>
			<!-- ======== ooVoo Desktop ======== -->
			<Account ID="1240232" Name="ooVooDesktop" >
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="ooVooDesktop"
							Facebook.Account.ID="102027723248356"
							Facebook.Auth.SessionSecret="AQCi82c82AeGQT_SGrdC_YzI2KwpEishvmwxe0Ba8Fb724yBGMlg4DBzEc6LCwQFncn-wBlf86clWwaeImcuCpimoWUI5JCJ5c434_yC8QDbj-MEOZCtJ6AJi-xCxeK4RqPmR6nK4jpWbPeDy6yJe5eiRJ7GIMipewfiekiRjjQUEivj8lyOfU5UqJzCDaZ9n4s#_=_"/>
				</Services>
			</Account>
			<!-- ======== Opteck ======== -->
			<Account ID="1240235" Name="Opteck" >
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="Opteck"
							Facebook.Account.ID="110429239078132"
							Facebook.Auth.SessionSecret="AQBa03-eC5w5itn93BzGe8zJrcMEDrHaT4o5FBKljN8DZaZkI92PQKOlmmG-1D9nNLkElxUBPz2kCwNkfBZojzo6GPgQQqxw2_NrqY_CmS0pOBkp_kxpY-Bb21-i_EXSuTkTQ1RQ0K9mwbfVYrDb9s4C9r34bt8G1vzyznuInVutTb5iuUIi1Y9elyU7jjMW-Es#_=_"/>
				</Services>
			</Account>
			<!-- ======== Rscan ======== -->
			<Account ID="1240237" Name="Rscan" >
				<Services>
					<Service Uses="Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="Rscan"
							Facebook.Account.ID="115017978615587"
							Facebook.Auth.SessionSecret="AQD2q-u4hRnQ4yK4E_YhOst9FtXfGv0P0IAsq1Mb_zp8ZLlDtIS9fEbXuujlenWmJeZ7KOGNfvoiWFas6gIuUyOhAQfFhhK8MCL1VTAMgbr_S8KduzJCBRtM2HUOmxbb9TKiL5zrFdu2l6eug27Qcvy8Z3szNH3OSrGozepk92ycXGNo0NucqDPMG8vEUsWIK-o#_=_"/>
				</Services>
			</Account>
		</Accounts>
	</edge.services>

	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://79.125.11.74:27334/v2.9/seperia/deploy"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

</configuration>

