<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="edge.processes.directoryWatcher" type="Edge.Processes.DirectoryWatcher.DirectoryWatcherConfiguration, Edge.Processes.DirectoryWatcher"/>
	</configSections>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Source; Integrated Security=SSPI;"/>
	</connectionStrings>
	
	<edge.processes.directoryWatcher>
		<Directory Path="D:\Edge\Seperia IMPORT\PPC\Creative" Filter="*.txt" ServiceName="PpcCreativeImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\Babylon" Filter="*.txt" ServiceName="BabylonBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\Refund\Creative" Filter="*.txt" ServiceName="RefundPpcCreativeImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\Bing\PPC\Creative" Filter="*.txt" ServiceName="BingPpcCreativeImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\PPC\Content" Filter="*.txt" ServiceName="PpcContentImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\Yahoo\Easyforex" Filter="*.txt" ServiceName="EFPpcCreativeImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\EyeBuyDirect" Filter="*.txt" ServiceName="EyeBuyDirectBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\Yola" Filter="*.txt" ServiceName="YolaDirectBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\PcSpeed" Filter="*.txt" ServiceName="PcSpeedDirectBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\OOVOO" Filter="*.txt" ServiceName="oovooDirectBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\Direct" Filter="*.txt" ServiceName="DirectBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\EasyForex" Filter="*.txt" ServiceName="EasyForexBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\Conduit" Filter="*.txt" ServiceName="ConduitBOImporter" Options.SourceFilePath="{FilePath}"/>

		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--<Directory Path="D:\Edge\IMPORT EXMAPLE\BackOffice\888" Filter="*.txt" ServiceName="EasyForexBOImporter" SchedulerUrl="http://localhost:27334/v2.5/EXAMPLEEXAMPLEX" Options.SourceFilePath="{FilePath}"/>-->
	</edge.processes.directoryWatcher>

	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.5/ScheduleManagerSeperia"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	
</configuration>
