<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="E:\Edge\Edge.BI\Files\Deliveries"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/>
		<!--Production Managment Tool and validation configuration-->
		<add key="SeperiaProductionConfigurationPath" value="D:\Edge\Seperia\2.9\Services\Services\Edge.Services.config"/>
		<add key="AdmobConnection" value="Data Source=localhost;Catalog=Edge_UDM"/>
		
	</appSettings>
	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Edge_System_29;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System_29;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=localhost;Initial Catalog=Edge_Deliveries;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=localhost;Initial Catalog=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.RollbackService.OLTP" connectionString="Data Source=localhost;Initial Catalog=Edge_Deliveries;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=localhost;Initial Catalog=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!" />
		<add name="Edge.Data.Pipeline.Services.Db4oImport.OLTP" connectionString="Data Source=localhost;Initial Catalog=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>

		<!--Adwords-->
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_OLTP;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.Google.Adwords.AdwordsUtill.MCC_Auth" connectionString="Data Source=localhost; Database=Edge_OLTP;User ID=edge1;PWD=Blublu*2!"/>
		<!--Adwords-->

		<!--####################  Production Managment Tool Connections string ##################################################################################################################################################-->
		<add name="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService.OltpDB"	connectionString="Data Source=localhost;Initial Catalog=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Application.ProductionManagmentTools.DataChecks.Seperia"			connectionString="Data Source=localhost;Initial Catalog=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Application.ProductionManagmentTools.DataChecks.Edge.BI"			connectionString="Data Source=localhost;; Database=Edge_OLTP; Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.DwhDB"			connectionString="Data Source=localhost; Database=Edge_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.OltpDB"		connectionString="Data Source=localhost; Database=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.DwhDB"		connectionString="Data Source=localhost; Database=Edge_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.OltpDB"		connectionString="Data Source=localhost; Database=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.DwhDB"		connectionString="Data Source=localhost; Database=Edge_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.OltpDB"		connectionString="Data Source=localhost; Database=Edge_OLTP;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Application.ProductionManagmentTools.DeliverySearch.DeliveryDB"		connectionString="Data Source=localhost;Initial Catalog=Edge_System_29;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<!--#####################################################################################################################################################################################################################-->
	</connectionStrings>

	<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics" IgnoreDeliveryJsonErrors="true"/>

			<!-- ======== Facebook Graph API ======== -->
			<Service Name="Facebook.GraphApi"
						IsEnabled="true"
						DeliveryFilesDir="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
						Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
						Facebook.Auth.RedirectUri="http://www.edge.bi/"
					SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="FacebookGraphApiInitializerService" />
					<Step Base="FacebookGraphApiRetrieverService"  />
					<Step Base="FacebookGraphApiProcessorService"  />
					<Step Base="AdMetricsCommit"/>
					<Step Base="DataChecks.OltpDelivery"  IsEnabled="false" SourceTable="dbo.Paid_API_AllColumns_v29" ChannelList="1"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="false" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0522499272@outlook.wms.telemessage.com" />
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="11:20" CalendarUnit="Day" MaxDeviation="1:15"  />
				</SchedulingRules>
			</Service>

			<Service Name="FacebookGraphApiInitializerService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.InitializerService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookGraphApiRetrieverService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.RetrieverService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookGraphApiProcessorService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.ProcessorService,Edge.Services.Facebook.GraphApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>

			<!-- ======== Google AdWords ======== -->
			<Service Name="Google.AdWords"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						 DeveloperToken="5eCsvAOU06Fs4j5qHWKTCA"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="1"
						 MaxInstancesPerAccount="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00" IsEnabled="true"/>
					<Step Base="DataChecks.OltpDelivery"  IsEnabled="false" SourceTable="dbo.Paid_API_AllColumns_v29" ChannelList="1"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="false" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0522499272@outlook.wms.telemessage.com" />
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:30" CalendarUnit="Day" MaxDeviation="2:30" />
				</SchedulingRules>
			</Service>

			<Service Name="GoogleInitializer" IsPublic="false" Class="Edge.Services.Google.AdWords.InitializerService, Edge.Services.Google.AdWords.V201109"/>
			<Service Name="GoogleRetriver" IsPublic="false" Class="Edge.Services.Google.AdWords.RetrieverService, Edge.Services.Google.AdWords.V201109"/>
			<Service Name="GoogleProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.ProcessorService, Edge.Services.Google.AdWords.V201109" AutoAdGroupSegment="true"/>

			<Service Name="ImportDeliveryData" Class="Edge.Applications.ImportDataFromDB4oUtill.ImportDeliveryDataService,Edge.Applications.ImportDataFromDB4oUtill"/>
			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>

			<!-- ======== Back office ======== -->
			<Service Name="Backoffice"
					  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					  DeliveryFilesDir="BackOffice"
					  SQL.PrepareCommand="SP_Delivery_Commit_BO(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					  SQL.CommitCommand="SP_Delivery_Insert_BO(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)">
				<Workflow>
					<Step Base="BOInitializerService"  IsEnabled="true"/>
					<Step Base="BOGenericRetrieverService"  IsEnabled="true"/>
					<Step Base="BOProcessorService"  IsEnabled="true"/>
					<Step Base="BOCommitService" IsEnabled="true"/>
				</Workflow>
				<SchedulingRules Overrides="true">
					<Rule ExactTimes="04:50" CalendarUnit="Day" MaxDeviation="01:30" />
				</SchedulingRules>
			</Service>
			<Service Name="BOInitializerService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.InitializerService,Edge.Services.BackOffice.Generic"/>
			<Service Name="BOGenericRetrieverService" IsPublic="false" Class="Edge.Data.Pipeline.Services.GenericRetrieverService,Edge.Data.Pipeline"/>
			<Service Name="BOProcessorService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.ProcessorService,Edge.Services.SegmentMetrics"/>
			<Service Name="BOCommitService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.CommitService,Edge.Services.SegmentMetrics"/>

			<!-- ======== ValidationServices ======== -->
			<Service Name="OltpDeliveryValidation"
               Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="DeliveryOltpValidation,DwhOltpValidation">
				<Workflow>
					<Step Base="DataChecks.OltpDelivery"  IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0522499272@outlook.wms.telemessage.com,naama.frank@gmail.com,naamafr@seperia.com" />
				</Workflow>
			</Service>

			<Service Name="MdxOltpValidation"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="MdxOltpValidation">
				<Workflow>
					<Step Base="DataChecks.MdxOltp"    IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-05224992728@outlook.wms.telemessage.com,naama.frank@gmail.com,naamafr@seperia.com"
						 />
				</Workflow>
			</Service>

			<!--<Service Name="Segments.DeliveryOltpValidation"
				 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline" CheckTypes="Segments.DeliveryOltpValidation">
				<Workflow>
					<Step Base="DataChecks.Segments.OltpDelivery"    IsEnabled="true"/>
					<Step Base="DataChecks.ResultsHandler"  IsEnabled="true" AlertFrom="edgeapp@edge.bi" AlertTo="edge.alerts@seperia.com"
						  CC="sms-0504242012@outlook.wms.telemessage.com,sms-0522321243@outlook.wms.telemessage.com,sms-0544922188@outlook.wms.telemessage.com,shmely@gmail.com,sms-0542444443@outlook.wms.telemessage.com,sms-0522499272@outlook.wms.telemessage.com"
						 />
				</Workflow>
			</Service>-->

			<!-- ########## Do Not change the following Services names (due to Production manamgemt tool requierments) #############################################################-->
			<Service Name="DataChecks.OltpDelivery"		IsPublic="false"	Class="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService, Edge.Services.AdMetrics.Validations"/>
			<Service Name="DataChecks.DwhOltp"				IsPublic="false"	Class = "Edge.Services.AdMetrics.Validations.DwhOltpChecksumService,Edge.Services.AdMetrics.Validations" />
			<Service Name="DataChecks.MdxOltp"        AdmobConnection="Data Source=localhost;Catalog=Edge_UDM" IsPublic="false"	Class = "Edge.Services.AdMetrics.Validations.MdxOltpChecksumService,Edge.Services.AdMetrics.Validations" />
			<Service Name="DataChecks.MdxDwh"					AdmobConnection="Data Source=localhost;Catalog=Edge_UDM" IsPublic="false"	Class = "Edge.Services.AdMetrics.Validations.MdxDwhChecksumService,Edge.Services.AdMetrics.Validations" />
			<Service Name="DataChecks.ResultsHandler" IsPublic="false"	Class="Edge.Services.AdMetrics.Validations.ValidationResultsHandler, Edge.Services.AdMetrics.Validations" />
			<!-- ###################################################################################################################################################################-->
			<Service Name="RunStoredProcedure" IsPublic="false" Class="Edge.Services.SqlServer.RunStoredProcedure,Edge.Services.SqlServer"/>

			<!-- ======== Bing ======== -->
			<!--<Service Name="Microsoft.AdCenter"             
					Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					AdCenter.Username="API_888"
					AdCenter.Password="msn123"
					DeliveryFilesDir="Microsoft-AdCenter"
					AdCenter.AppToken="WNAC6Z24N38P"
					AdCenter.DevToken="WNAC6Z24N38P"              
					SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)">
				<Workflow>
					<Step Name="Initializer" Base="Microsoft.AdCenter.Initializer" IsEnabled="true"/>
					<Step Name="Retriever" Base="Microsoft.AdCenter.Retriever" IsEnabled="true"/>
					<Step Name="Processor" Base="Microsoft.AdCenter.Processor" IsEnabled="true"/>
					<Step Base="AdMetricsCommit" IsEnabled="true"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="04:30" CalendarUnit="Day" MaxDeviation="00:25"  />
				</SchedulingRules>
			</Service>
			<Service Name="Microsoft.AdCenter.Initializer" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.InitializerService, Edge.Services.Microsoft.AdCenter"  />
			<Service Name="Microsoft.AdCenter.Retriever" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.RetrieverService, Edge.Services.Microsoft.AdCenter"/>
			<Service Name="Microsoft.AdCenter.Processor" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.ProcessorService, Edge.Services.Microsoft.AdCenter" AutoAdGroupSegment="true" />-->
		</Services>


			<!-- ======================================================== -->
			<!--						Accounts						  -->
			<!-- ======================================================== -->

			<Accounts>
				<Account ID="-1" Name="System Account">
					<Services>
						<Service Name="RunEdgeJob" Uses="RunStoredProcedure" ConnectionString="Data Source=localhost; Database=msdb;User ID=edge1;PWD=Blublu*2!" StoredProcedureName="sp_start_job" Paramjob_name="Edge Daily"></Service>
						<Service Name="ADS_RoleBackByDeliveries" Uses="RoleBackByDeliveries"></Service>

						<!--==================================== Validations ===============================================-->
						<!--DeliveryOLTP - Google.Adwords-->
						<Service Uses ="OltpDeliveryValidation" Name="AdwordsOltpDeliveryValidation" ProfileName="[Edge][Google.Adwords][DeliveryOltp]"
						AccountsList="10035"
						SourceTable="dbo.Paid_API_AllColumns_v29"
						ChannelList="1"	>
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="06:30" CalendarUnit="Day" MaxDeviation="00:09" />
							</SchedulingRules>
						</Service>

						<!--DeliveryOLTP - Facebook-->
						<Service Uses ="OltpDeliveryValidation" Name="FacebookOltpDeliveryValidation" ProfileName="[Edge][Facebook][DeliveryOltp]"
						AccountsList="10035"
						SourceTable="dbo.Paid_API_AllColumns_v29"
						ChannelList="6"	>
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="06:15" CalendarUnit="Day" MaxDeviation="00:15" />
								<Rule ExactTimes="11:30" CalendarUnit="Day" MaxDeviation="00:15" />
							</SchedulingRules>
						</Service>

						<!--Mdx -->
						<Service Uses ="MdxOltpValidation" Name="MdxOltpValidation" ProfileName="[Edge][MDX]"
								  AccountsList="10035"
								  SourceTable="dbo.ChannelAdData_v29"
								  ChannelList="1,6"	>
						</Service>

						<!--==OptionRally BackOffice Re-Run Delivery-OLTP Validation==-->
						<!--<Service Uses ="Segments.DeliveryOltpValidation" Name="BackOfficeOltpDeliveryValidation" ProfileName="[OptionRally][BO Re-Run][DeliveryOltp]"
												AccountsList="10035"
												SourceTable="dbo.BackOffice_Client_Gateway_v29"
												ChannelList="-1">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="21:45" CalendarUnit="Day" MaxDeviation="00:09" />
						</SchedulingRules>
					</Service>-->
						<!--=====================================================================================================-->

						<!--########## Production Managment Tool Configuration #########-->
						<Service Uses="DataChecks.OltpDelivery" />
						<Service Uses="DataChecks.DwhOltp"/>
						<Service Uses="DataChecks.MdxDwh"/>
						<Service Uses="DataChecks.MdxOltp"/>
						<!--############################################################-->
					</Services>
				</Account>

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Client - 888 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

				
				 <!--======== Google UK - Casino ======== 
				<Account ID="10001" Name="888.com - Casino  UK">
					<AutoSegments>
						<Segment Name="Tracker" SegmentID="-977">
							<Pattern Regex="\bsr=(?{tracker}\w+)\b" Value="{tracker}"/>
						</Segment>
					</AutoSegments>
					<Services>
						<Service Uses="Rerun" />
						<Service Uses="Google.AdWords" Adwords.ClientID="514-998-5223" Adwords.MccEmail="888MCCedge@gmail.com">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="04:10" CalendarUnit="Day" MaxDeviation="01:00" />
							</SchedulingRules>
						</Service>
					</Services>
				</Account>

				
				 ======== Google UK - 888games ======== 
				<Account ID="10008" Name="888games - UK">
					<AutoSegments>
						<Segment Name="Tracker" SegmentID="-977">
							<Pattern Regex="\bsr=(?{tracker}\w+)\b" Value="{tracker}"/>
						</Segment>
					</AutoSegments>
					<Services>
						<Service Uses="Rerun" />
						<Service Uses="Google.AdWords" Adwords.ClientID="507-961-6521" Adwords.MccEmail="888MCCedge@gmail.com"/>
					</Services>
				</Account>

				
				 ======== Google UK - BBbingo ======== 
				<Account ID="10054" Name="Big Brother Bingo - UK">
					<AutoSegments>
						<Segment Name="Tracker" SegmentID="-977">
							<Pattern Regex="\bsr=(?{tracker}\w+)\b" Value="{tracker}"/>
						</Segment>
					</AutoSegments>
					<Services>
						<Service Uses="Rerun" />
						<Service Uses="Google.AdWords" Adwords.ClientID="499-293-9499" Adwords.MccEmail="888MCCedge@gmail.com">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="05:15" CalendarUnit="Day" MaxDeviation="00:20" />
							</SchedulingRules>
						</Service>
					</Services>
				</Account>-->

				<!-- ======== OptionRally ======== -->
				<Account ID="10035" Name="OptionRally">
					<AutoSegments>
						<Segment Name="Tracker" SegmentID="-977">
							<Pattern Regex="(\bp=edgetrackerid_(?{edgetrackerid}\w+)\b)" Value="{edgetrackerid}"/>
						</Segment>
					</AutoSegments>
					<Services>						
						<Service Uses="Backoffice"
						 Bo.ServiceAdress="http://gad.optionrally.com/cgi-bin/OptionRally/EdgeTracker/main.cgi?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
						 Bo.UTCOffest="0"
						 Bo.Xpath="EdgeBO/Tracker"
						 Bo.IsAttribute ="true"
						 Bo.TrackerIDField="ID"
							  />						
							<!--<Service  Name="BO rerun - 3 months back" Uses="Rerun" ServiceToRun="Backoffice" TargetPeriod="{start: {m:-3, d:1}, end: {m:-1, d:'*'}}">
								<SchedulingRules Overrides="true">
									<Rule ExactTimes="13:30" CalendarUnit="Day" SubUnits="3" MaxDeviation="1:30" />
								</SchedulingRules>
						</Service>-->
						<Service  Name="BO rerun - 1st week back" Uses="Rerun" ServiceToRun="Backoffice" TargetPeriod="{start: {d:-7}, end: {d:-1}}">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="19:00" CalendarUnit="Day" MaxDeviation="1:30" />
							</SchedulingRules>
						</Service>
						<Service  Name="BO rerun - 2nd week back" Uses="Rerun" ServiceToRun="Backoffice" TargetPeriod="{start: {d:-14}, end: {d:-8}}">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="19:30" CalendarUnit="Day" MaxDeviation="1:30" />
							</SchedulingRules>
						</Service>
						<Service  Name="BO rerun - 3rd week back" Uses="Rerun" ServiceToRun="Backoffice" TargetPeriod="{start: {d:-21}, end: {d:-15}}">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="20:00" CalendarUnit="Day" MaxDeviation="1:30" />
							</SchedulingRules>
						</Service>
						<Service  Name="BO rerun - 4th week back" Uses="Rerun" ServiceToRun="Backoffice" TargetPeriod="{start: {d:-30}, end: {d:-22}}">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="20:30" CalendarUnit="Day" MaxDeviation="1:30" />
							</SchedulingRules>
						</Service>
						

						<Service Uses="Rerun" />
						<Service Uses="Google.AdWords" Adwords.ClientID="508-397-0423" Adwords.MccEmail="edge.bi.mcc@gmail.com" >
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="06:10" CalendarUnit="Day" MaxDeviation="00:30" />
							</SchedulingRules>
						</Service>
						<Service Name="AdwordsRerun - later hour" Uses="Google.AdWords" Adwords.MccEmail="edge.bi.mcc@gmail.com" Adwords.ClientID="508-397-0423" ConflictBehavior="Ignore">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="13:30" CalendarUnit="Day" MaxDeviation="00:30" />
							</SchedulingRules>
						</Service>
						<Service Uses="Facebook.GraphApi"
								Facebook.Account.Name="OptionRally"
								Facebook.Account.ID="369108868"
								Facebook.Auth.SessionSecret="AQAw3-U2xeRMYocUGcRSzJZb29wCJe-lBoefZ-Bmrk2ZgVbgbwZbhjIYhedN7tRBHu33E4CTkR9yrMPq8qT6bhKVQf9Eg_9SiHz4uBtODcsWXEUvJPTDVFo60Xd2N3RHa4JjnE168u_yCvLtzfy1hX3CSd64d1719JZ0QleOAAnhuWBOflsNpSgzGya_2PWbaok#_=_"
								TimeZone="2"
								Offset="-1" >
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="06:00" CalendarUnit="Day" MaxDeviation="1:30" />
							</SchedulingRules>
						</Service>
						<Service Name="FacebookRerun - later hour" Uses="Facebook.GraphApi"
								 Facebook.Account.Name="OptionRally"
								 Facebook.Account.ID="369108868"
								 Facebook.Auth.SessionSecret="AQAw3-U2xeRMYocUGcRSzJZb29wCJe-lBoefZ-Bmrk2ZgVbgbwZbhjIYhedN7tRBHu33E4CTkR9yrMPq8qT6bhKVQf9Eg_9SiHz4uBtODcsWXEUvJPTDVFo60Xd2N3RHa4JjnE168u_yCvLtzfy1hX3CSd64d1719JZ0QleOAAnhuWBOflsNpSgzGya_2PWbaok#_=_"
								 TimeZone="2"
								 Offset="-1"
								 ConflictBehavior="Ignore">
							<SchedulingRules Overrides="true">
								<Rule ExactTimes="11:20" CalendarUnit="Day" MaxDeviation="00:40" />
							</SchedulingRules>
						</Service>
					</Services>
				</Account>

				<Account ID="10052" Name="888Poker">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bsr=(?{edgetrackerid}\w+)\b)" Value="{edgetrackerid}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<!--<Service Uses="Facebook.GraphApi"
						  Facebook.Account.Name="888Poker"
						  Facebook.Account.ID="104375596344953"
						  Facebook.Auth.SessionSecret="AQDVc7A7_tmfLmBkQpqNDKG9wg6QWJfU565yLA0Iko8bQKTNeddjLxmSHqzV19BI_OYPKJrsEnu54xwE9ZMjpAIkSTjR-3ZWzEn7bghpsYMAw4h4meauYRfue9q4r8T-jhujO9Otxkp6nenuQYJeDJvoQT1pIEg4yoWcNF4J3TaAY_Jivz8olQ3r__AKVIkXkBM#_=_"
						  TimeZone="0"
						  Offset="0"
						  />-->
				</Services>
			</Account>

			</Accounts>
			</edge.services>

	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27335/v2.9/edge/deploy"/>
			<endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Reporting/ReportingService.svc"
				   binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
				   contract="AdCenter.Reporting.IReportingService" name="BasicHttpBinding_IReportingService"
					  />
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IReportingService" closeTimeout="00:01:00"
							openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
							allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
								  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
										realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

</configuration>

