<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="edge.processes.directoryWatcher" type="Edge.Processes.DirectoryWatcher.DirectoryWatcherConfiguration, Edge.Processes.DirectoryWatcher"/>
	</configSections>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost;Initial Catalog=Seperia_System_21;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
	</connectionStrings>
	
	<edge.processes.directoryWatcher>
		<!--================================= SEPERIA Directory Watcher ============================================================================================================-->
		<!--BackOffice Dirctories-->
		<Directory Path="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\Babylon" Filter="*.txt" ServiceName="BabylonBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\Direct" Filter="*.txt" ServiceName="DirectBOImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Seperia\Files\Legacy\Upload\FTP\BackOffice\EasyForex" Filter="*.txt" ServiceName="EasyForexBOImporter" Options.SourceFilePath="{FilePath}"/>
		
		<!--Advertising Dirctories-->
		<Directory Path="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Other_Advertising_Channel" Filter="*.txt" ServiceName="PpcCreativeImporter" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Seperia\Files\Legacy\Upload\FTP\Facebook" Filter="*.txt" ServiceName="FacebookCreativeImporter" Options.SourceFilePath="{FilePath}"/>
		
		<!--================================= Edge.BI Directory Watcher ============================================================================================================-->
		<Directory Path="E:\Edge\Edge.BI\Files\Legacy\Upload\FTP\Other_Advertising_Channel" Filter="*.txt" ServiceName="PpcCreativeImporter" SchedulerUrl="http://localhost:27334/edgebi/2.5" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Edge.BI\Files\Legacy\Upload\FTP\BackOffice\888" Filter="*.txt" ServiceName="888BOImporter" SchedulerUrl="http://localhost:27334/edgebi/2.5" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Edge.BI\Files\Legacy\Upload\FTP\" Filter="*.txt" ServiceName="DirectBOImporter" SchedulerUrl="http://localhost:27334/edgebi/2.5" Options.SourceFilePath="{FilePath}"/>
		
		<!--================================= Edge.BI Directory Watcher [future]============================================================================================================-->
		<Directory Path="E:\Edge\Edge.BI[future]\Files\Legacy\Upload\FTP\Other_Advertising_Channel" Filter="*.txt" ServiceName="PpcCreativeImporter" SchedulerUrl="http://localhost:27235/edgebifuture/2.5" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Edge.BI[future]\Files\Legacy\Upload\FTP\BackOffice\888" Filter="*.txt" ServiceName="888BOImporter" SchedulerUrl="http://localhost:27235/edgebifuture/2.5" Options.SourceFilePath="{FilePath}"/>
		<Directory Path="E:\Edge\Edge.BI[future]\Files\Legacy\Upload\FTP\" Filter="*.txt" ServiceName="DirectBOImporter" SchedulerUrl="http://localhost:27235/edgebifuture/2.5" Options.SourceFilePath="{FilePath}"/>
	</edge.processes.directoryWatcher>

	<system.serviceModel>
		<client>
			
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/seperia/2.5"/>
			
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
				
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	
</configuration>
