<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="edge.services" type="Easynet.Edge.Core.Configuration.ServicesSection, Edge.Core" />
		<section name="convertAccounts" type="Easynet.Edge.Services.FileImport.Configuration.XmlNodeSectionHandler, Edge.Services.FileImport" />
		<section name="convertionTypes" type="Easynet.Edge.Services.FileImport.Configuration.XmlNodeSectionHandler, Edge.Services.FileImport" />

	</configSections>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Services" />
		</assemblyBinding>
	</runtime>

	<!-- ======================================================== -->
	<!--						App Settings					  -->
	<!-- ======================================================== -->
	<appSettings>
		<add key="DebugMode" value="true" />
		
		<!--Core-->
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=True" />
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="200" />
		<add key="Easynet.Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="Easynet.Edge.Core.Services.Service.AssemblyDirectory" value="Services"/>
		<add key="Easynet.Edge.Core.Configuration.ServiceElement.DefaultMaxExecutionTime" value="00:40:00"/>
		<add key="Easynet.Edge.Core.Utilities.Log.LogName" value="easynet Edge"/>
		<add key="Easynet.Edge.Core.Domain" value="seperia.hz"/>

		<!--ScheduleManagement-->
		<add key="Easynet.Edge.Services.ScheduleManagement.ScheduleBuilder.ResultsRoot" value="D:\Edge\Seperia Retrieved Files" />
		<add key="Easynet.Edge.Services.ScheduleManagement.ScheduleTable.KeepAliveCheckTime" value="5" />

		<!--BaseService-->
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.SourceConnectionString" value="Data Source=localhost;Initial Catalog=Source;Integrated Security=True" />
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.ResultsRoot" value="D:\Edge\Seperia Retrieved Files" />

		<!--RetrieverService-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.UserAgent" value="Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US; rv:1.8.1.3) Gecko/20070309 Firefox/2.0.0.3" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.FileExtension" value="xml" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.RequestTimeout" value="0:05:00" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.RetrieverService.ReadTimeout" value="0:05:00" />
		
		<!--Adwords-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.MaxRetries" value="2" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.PrecentDiffrence" value="1" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.AdWordsRetriever.TargetSubDirectory" value="Google\Adwords\" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdWordsCreativeProcessor.ErrorSubDirectory" value="Google\Creative\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdWordsCreativeProcessor.FileExtension" value="txt" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdwordsContentProcessor.ErrorSubDirectory" value="Google\Content\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.AdwordsContentProcessor.FileExtension" value="txt" />

		<!--BackOffice Retriever-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.MaxRetries" value="2" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.PrecentDiffrence" value="1" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.BackOfficeGenericRetriever.TargetSubDirectory" value="BackOffice\" />

		<!--BackOffice Processor-->
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.BackOfficeProcessor.ErrorSubDirectory" value="BackOffice\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.BackOfficeProcessor.FileExtension" value="txt" />
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.BackOfficeProcessorNodes.ErrorSubDirectory" value="BackOffice\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.BackOfficeProcessorNodes.FileExtension" value="txt" />

		<!--Importer-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.ImporterRetriever.TargetSubDirectory" value="Seperia IMPORT\PPC\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.ImporterRetriever.FileExtension" value="txt" />

		<add key="Easynet.Edge.Services.DataRetrieval.Processor.ImporterProcessor.ErrorSubDirectory" value="Seperia IMPORT\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.ImporterProcessor.FileExtension" value="txt" />

		<!--Organic-->
		<add key="Easynet.Edge.Services.Google.OrganicRankings.RetrieverService.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.Google.OrganicRankings.RetrieverService.PrecentDiffrence" value="0.8" />

		<add key="Easynet.Edge.Services.Google.OrganicRankings.RetrieverService.UrlFormat" value="http://www.google.com/custom?q={0}&amp;ud=1&amp;num={1}&amp;start={2}&amp;gl=il&amp;hl=iw&amp;ie=utf8&amp;oe=utf8&amp;output=xml_no_dtd&amp;client=google-csbe&amp;cx=!001690554566158736806%3Asc0vx0qcmus" />
		<add key="Easynet.Edge.Services.Google.OrganicRankings.RetrieverService.TargetSubDirectory" value="Google\OrganicRankings\" />
		
		<!-- Easy Forex -->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.EasyForexBackOfficeRetriever.TargetSubDirectory" value="BackOffice\"/>
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.EasyForexBackOfficeRetriever.MaxRetries" value="2" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.EasyForexBackOfficeRetriever.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.EasyForexBackOfficeRetriever.PrecentDiffrence" value="1" />
		<add key="Easynet.Edge.Services.BackOffice.EasyForex.EasyForexBackOfficeRetrieverService.TargetSubDirectory" value="BackOffice\" />
		
		
		<!--Messaging-->
		<add key="Easynet.Edge.Messaging.Host" value="mailgw.netvision.net.il"/>
		<add key="Easynet.Edge.Messaging.Port" value="25"/>

		<!--Facebook Retriever-->
		<add key="Easynet.Edge.Services.Facebook.FacebookRetriever.ErrorSubDirectory" value="creative\Errors\" />
		<add key="Easynet.Edge.Services.Facebook.FacebookRetriever.FileExtension" value="txt" />
		<add key="Easynet.Edge.Services.Facebook.FacebookRetriever.MaxRetries" value="2" />
		<add key="Easynet.Edge.Services.Facebook.FacebookRetriever.MaxInstancesReRuns" value="31" />
		<add key="Easynet.Edge.Services.Facebook.FacebookRetriever.PrecentDiffrence" value="1" />
		<add key="Easynet.Edge.Services.Facebook.FacebookRetriever.ResultsRoot" value="D:\Edge\" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<connectionStrings>
		<add name="Easynet.Edge.UI.Data.Properties.Settings.easynet_OltpConnectionString"
			connectionString="Data Source=localhost;Initial Catalog=easynet_OLTP;Integrated Security=False;User ID=edge;PWD=edgebi!;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	
	
	<edge.services>
		<!-- ============ Extensions ============ -->
		<Extensions>
			<Extension Name="Directories" Type="Easynet.Edge.Services.FileImport.Configuration.DirectoryElementCollection, Edge.Services.FileImport"/>
			<Extension Name="FileTypes" Type="Easynet.Edge.Services.FileImport.Configuration.FileTypeElementCollection, Edge.Services.FileImport"/>
		</Extensions>

		<!-- ======================================================== -->
		<!--						Services						  -->
		<!-- ======================================================== -->
		<Services>

			<!-- =============== ScheduleManager =============== -->
			<Service Name="ScheduleManager"
					 Class="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService, Edge.Services.ScheduleManagement"
					 />


			<!-- =============== FileSystemWatcher =============== -->
			<Service Name="FileSystemWatcher"
					 Class="Easynet.Edge.Services.FileImport.FileSystemWatcherService, Edge.Services.FileImport">
				<!--MaxInstances="1"-->

				<Directories>
					<Directory Path="D:\ForFileWatcher" Filter="*.txt" HandlerService="PpcCreativeImporter"/>
					<!--<Directory Path="D:\Edge\Seperia IMPORT\Refund\Creative" Filter="*.txt" HandlerService="RefundPpcCreativeImporter"/>
					<Directory Path="D:\Edge\Seperia IMPORT\Bing\PPC\Creative" Filter="*.txt" HandlerService="BingPpcCreativeImporter"/>
					<Directory Path="D:\Edge\Seperia IMPORT\PPC\Content" Filter="*.txt" HandlerService="PpcContentImporter"/>
					<Directory Path="D:\Edge\Seperia IMPORT\Yahoo\Easyforex" Filter="*.txt" HandlerService="EFPpcCreativeImporter"/>
					<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\EyeBuyDirect" Filter="*.txt" HandlerService="EyeBuyDirectBOImporter"/>
					<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\Yola" Filter="*.txt" HandlerService="YolaDirectBOImporter"/>-->


					<!--<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\888" Filter="*.txt" HandlerService="888BOImporter"/>-->
					<!-- Seperia -->
					<!--<Directory Path="D:\Edge\Seperia IMPORT\BackOffice\EasyForex" Filter="*.txt" HandlerService="EasyForexBOImporter"/>-->


				</Directories>
				<SchedulingRules>
					<Rule CalendarUnit="AlwaysOn" />
				</SchedulingRules>
			</Service>

			<!-- =============== WebImporter =============== -->
			<Service Name="LegacyWebImporter" Class="Easynet.Edge.Services.FileImport.WebImporterService, Edge.Services.FileImport" SourceType="NotDirectUpload" DirectUpload.Path="D:\ForFileWatcher\Upload" ImportFiles="D:\ForFileWatcher\easynet.xls">
				<FileTypes>
					<!--Microsoft.Jet.OLEDB.4.0-->
					<FileType Extension=".xlsx" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='Excel 12.0;HDR=Yes;'"/>
					<FileType Extension=".xls" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='Excel 8.0;HDR=Yes;IMEX=1;ImportMixedTypes=Text;TypeGuessRows=60'"/>
					<FileType Extension=".csv" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='text;HDR=Yes;FMT=Delimited'"/>
				</FileTypes>
			</Service>
			<Service Name="DirectWebImporter" Class="Easynet.Edge.Services.FileImport.WebImporterService, Edge.Services.FileImport"
					 DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\WebConvertorOriginalFiles\"
					 DirectUpload.Bing.Path="D:\Edge\Seperia IMPORT\Bing\PPC\Creative\"
					 /></Services>

		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>
			<Account Name="System" ID="-1" IsEnabled="true">
				<Services>
					<Service Uses="LegacyWebImporter" />
				</Services>
			</Account>

			<Account Name="Easy Forex" ID="7">
				<Services>
					<Service Uses="LegacyWebImporter"  />
					<!--<Service Uses="DirectWebImporter" DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\WebConvertorOriginalFiles\WebImporterTests\"/>-->
					<Service Uses="DirectWebImporter" DirectUpload.Yahoo.Path="D:\Edge\Seperia IMPORT\Yahoo\Easyforex\"/>
				</Services>
			</Account>
			<Account Name="Eye Buy Direct" ID="1001">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\BackOffice\EyeBuyDirect\"/>
				</Services>
			</Account>
			<Account Name="Yola" ID="1005">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\BackOffice\Yola\"/>
				</Services>
			</Account>
			<Account Name="Conduit" ID="95">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Bing.Path="D:\Edge\Seperia IMPORT\Bing\PPC\Creative\"
													  DirectUpload.Yahoo.Path="D:\Edge\Seperia IMPORT\Yahoo\Conduit\"
					/>
				</Services>
			</Account>
			<Account Name="PcSpeed" ID="1007">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\BackOffice\PcSpeed\"/>
				</Services>
			</Account>
			<Account Name="OOVOO" ID="1014">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Creative.Path="D:\Edge\Seperia IMPORT\PPC\Creative\"
													  DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\BackOffice\OOVOO\"/>
				</Services>
			</Account>
			<Account Name="White Smoke" ID="1235">
				<Services>
					<Service Uses="DirectWebImporter" DirectUpload.Creative.Path="D:\Edge\Seperia IMPORT\PPC\Creative\"/>
													 <!-- DirectUpload.BO.Path="D:\Edge\Seperia IMPORT\BackOffice\White Smoke\"/> -->
				</Services>
			</Account>
			
		</Accounts>
	</edge.services>

	
	<!-- ======================================================== -->
	<!--				Web Importer configuration (Noam)		  -->
	<!-- ======================================================== -->

	<!--============================  CONVERT ACCOUNTS ========================================-->

	<convertAccounts>
		<Account id="-1">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">NotDirectUpload</type>
			
		</Account>
		<SaveFilePath>D:\Edge\Seperia IMPORT\WebConvertorOriginalFiles\</SaveFilePath>
	</convertAccounts>


	<!--============================  CONVERSION TYPE ========================================-->

	<convertionTypes>
		
		<_888BackOffice>
			<class>888Convertor</class>
			<tmpHeader  serial="Gateway_id" date="Day_code" Benefited_publisher_name="AccountName" ClientSpecific="ClientSpecific"></tmpHeader>
			<TableHeaderCounter>7</TableHeaderCounter>
			<AccountNameRows >888</AccountNameRows>
			<FileSavePath>D:\temp\</FileSavePath>
			<ProcessorFilePath>D:\temp\</ProcessorFilePath>
		</_888BackOffice>
		
		<!--<_1001BackOffice>
			<class>MSNConvertor</class>
			<tmpHeader Pos="Average Position" Headline="Ad Title" Desc1="Ad Description" Campaign="Campaign Name" Adgroup="Ad group" DestURL="Destination URL" Imps="Impressions" Clicks="Clicks" Cost="Spend"> </tmpHeader>
			<FileSavePath>D:\Edge\Seperia IMPORT\Eye Buy Direct\</FileSavePath>
			<ProcessorFilePath>D:\Edge\Seperia IMPORT\Eye Buy Direct\</ProcessorFilePath>
		</_1001BackOffice>
		<Bing>
			<class>MSNConvertor</class>
			<tmpHeader Pos="Average Position" Headline="Ad Title" Desc1="Ad Description" Campaign="Campaign Name" Adgroup="Ad group" DestURL="Destination URL" Imps="Impressions" Clicks="Clicks" Cost="Spend"> </tmpHeader>
			--><!--<FileSavePath>D:\Edge\IMPORT\Bing\PPC\Creative\</FileSavePath>--><!--
			<FileSavePath>D:\Edge\Seperia IMPORT\Bing\PPC\Tests\</FileSavePath>
			<ProcessorFilePath>D:\Edge\Seperia IMPORT\Bing\PPC\Processed\</ProcessorFilePath>
		</Bing>-->

		<NotDirectUpload>
			<class>YahooConvertor</class>
			<tmpHeader Cost="Cost" Pos="Average Position" Headline="Title" Desc1="Description" Adgroup="Ad Group" Campaign="Campaign" Imps="Impressions" Clicks="Clicks"> </tmpHeader>
			<DestinationURL DestURL="Destination URL"> </DestinationURL>
			<AccountNameRows>EasyForex</AccountNameRows>
			<CountryInRowNum>1</CountryInRowNum>
			<SignForCountryInTSV>-</SignForCountryInTSV>
			<FirstRowName>Totals</FirstRowName>
			<FirstHeaderRowNum>10</FirstHeaderRowNum>
			<FirstDataRowNum>12</FirstDataRowNum>
			<PreGatewaySign>sr=</PreGatewaySign>
			<FileSavePath>D:\Edge\Seperia IMPORT\</FileSavePath>
			<ProcessorFilePath>D:\Edge\Seperia IMPORT\</ProcessorFilePath>
		</NotDirectUpload>

		<!--<_888Yahoo>
			<class>YahooConvertor</class>
			<tmpHeader Cost="Cost" Pos="Average Position" Headline="Title" Desc1="Description" Adgroup="Ad Group" Campaign="Campaign" Imps="Impressions" Clicks="Clicks"> </tmpHeader>
			<DestinationURL DestURL="Destination URL"> </DestinationURL>
			<AccountNameRows>EasyForex</AccountNameRows>
			<CountryInRowNum>1</CountryInRowNum>
			<SignForCountryInTSV>-</SignForCountryInTSV>
			<FirstRowName>Totals</FirstRowName>
			<FirstHeaderRowNum>8</FirstHeaderRowNum>
			<FirstDataRowNum>10</FirstDataRowNum>
			<PreGatewaySign>sr=</PreGatewaySign>
			<FileSavePath>D:\Edge\IMPORT\Yahoo\Tests\</FileSavePath>
			<ProcessorFilePath>D:\Edge\IMPORT\Yahoo\888\Processed\</ProcessorFilePath>
		</_888Yahoo>-->

		<!--<EasyForexYahoo>
			<class>YahooConvertor</class>
			<tmpHeader Cost="Cost" Pos="Average Position" Headline="Title" Desc1="Description"
					   DestURL="Destination URL" Adgroup="Ad Group"  Campaign="Campaign" Imps="Impressions"   Clicks="Clicks"  > </tmpHeader>
			<AccountNameRows >EasyForex</AccountNameRows>
			<FirstRowName>Totals</FirstRowName>
			<FirstHeaderRowName>Ad Id</FirstHeaderRowName>
			<AccountNameRows >EasyForex</AccountNameRows>
			<FileSavePath>D:\Convertor Files\Importer\</FileSavePath>
			<ProcessorFilePath>D:\Convertor Files\Processed\</ProcessorFilePath>
		</EasyForexYahoo>-->

	</convertionTypes>

	<!-- ======================================================== -->
	<!--				WCF configuration						  -->
	<!-- ======================================================== -->

	<system.serviceModel>
		 <!--Server configuration--> 
		<services>
			<service name="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService" behaviorConfiguration="behavior">
				<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperiaWebImporter" />
			</service>
		</services>

		 <!--Client configuration 
		 Just copy&paste the <endpoint> elements from the <services> element--> 
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />			
		</client>

		<behaviors>
			<serviceBehaviors>
				<behavior name="behavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
		
			<netTcpBinding>
				<binding name="edgeServiceCommBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
			</wsHttpBinding>
		</bindings>

	</system.serviceModel>

</configuration>


