<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="edge.services" type="Easynet.Edge.Core.Configuration.ServicesSection, Edge.Core" />
		<section name="convertAccounts" type="Easynet.Edge.Services.FileImport.Configuration.XmlNodeSectionHandler, Edge.Services.FileImport" />
		<section name="convertionTypes" type="Easynet.Edge.Services.FileImport.Configuration.XmlNodeSectionHandler, Edge.Services.FileImport" />

	</configSections>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Services" />
		</assemblyBinding>
	</runtime>

	<!-- ======================================================== -->
	<!--						App Settings					  -->
	<!-- ======================================================== -->
	<appSettings>
		<add key="DebugMode" value="true" />

		<!--Core-->
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=false;User ID=EdgeServices;PWD=Adasa2011!" />
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="200" />
		<add key="Easynet.Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="Easynet.Edge.Core.Services.Service.AssemblyDirectory" value="Services"/>
		<add key="Easynet.Edge.Core.Configuration.ServiceElement.DefaultMaxExecutionTime" value="00:40:00"/>
		<add key="Easynet.Edge.Core.Utilities.Log.LogName" value="easynet Edge"/>
		<add key="Easynet.Edge.Core.Domain" value="seperia.hz"/>

		<!--ScheduleManagement-->
		<add key="Easynet.Edge.Services.ScheduleManagement.ScheduleBuilder.ResultsRoot" value="E:\Edge\Edge.BI\Files\Legacy\Retrieved Files" />
		<add key="Easynet.Edge.Services.ScheduleManagement.ScheduleTable.KeepAliveCheckTime" value="5" />

		<!--BaseService-->
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.SourceConnectionString" value="Data Source=localhost;Initial Catalog=Source;Integrated Security=false;User ID=EdgeServices;PWD=Adasa2011!" />
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.ResultsRoot" value="E:\Edge\Edge.BI\Files\Legacy\Retrieved Files" />

		<!--Importer-->
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.ImporterRetriever.TargetSubDirectory" value="IMPORT\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Retriever.ImporterRetriever.FileExtension" value="txt" />

		<add key="Easynet.Edge.Services.DataRetrieval.Processor.ImporterProcessor.ErrorSubDirectory" value="IMPORT\Errors\" />
		<add key="Easynet.Edge.Services.DataRetrieval.Processor.ImporterProcessor.FileExtension" value="txt" />
	
	</appSettings>

	<connectionStrings>
		<add name="Easynet.Edge.UI.Data.Properties.Settings.easynet_OltpConnectionString"
			connectionString="Data Source=localhost;Initial Catalog=easynet_OLTP;Integrated Security=False;User ID=edge1;PWD=Blublu*2!;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>



	<edge.services>
		<!-- ============ Extensions ============ -->
		<Extensions>
			<Extension Name="Directories" Type="Easynet.Edge.Services.FileImport.Configuration.DirectoryElementCollection, Edge.Services.FileImport"/>
			<Extension Name="FileTypes" Type="Easynet.Edge.Services.FileImport.Configuration.FileTypeElementCollection, Edge.Services.FileImport"/>
		</Extensions>

		<!-- ======================================================== -->
		<!--						Services						  -->
		<!-- ======================================================== -->
		<Services>

			<!-- =============== ScheduleManager =============== -->
			<Service Name="EdgeScheduleManager"
					 Class="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService, Edge.Services.ScheduleManagement"
					 />

			<!-- =============== WebImporter =============== -->
			<Service Name="LegacyWebImporter" Class="Easynet.Edge.Services.FileImport.WebImporterService, Edge.Services.FileImport">
				<FileTypes>
					<!--Microsoft.Jet.OLEDB.4.0-->
					<FileType Extension=".xlsx" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='Excel 12.0;HDR=Yes;'"/>
					<FileType Extension=".xls" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='Excel 8.0;HDR=Yes;IMEX=1;ImportMixedTypes=Text;TypeGuessRows=60'"/>
					<FileType Extension=".csv" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={sourceFilePath};Extended Properties='text;HDR=Yes;FMT=Delimited'"/>
				</FileTypes>
			</Service>
			<Service Name="DirectWebImporter" Class="Easynet.Edge.Services.FileImport.WebImporterService, Edge.Services.FileImport"
					 DirectUpload.Bing.Path="E:\Edge\Edge.BI\Files\Legacy\IMPORT\Bing\"
					 DirectUpload.Yahoo.Path="E:\Edge\Edge.BI\Files\Legacy\IMPORT\Yahoo\"
					 
					 />
		</Services>

		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>
			<Account Name="System" ID="-1" IsEnabled="true">
				<Services>
				</Services>
			</Account>
			<Account Name="888"  ID="10000">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10001">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10002">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10003">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10004">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10005">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10006">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10007">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10008">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10009">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10010">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10011">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
							 />
				</Services>
			</Account>
			<Account Name="888"  ID="10012">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10013">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10014">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10015">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10016">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10017">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
			<Account Name="888"  ID="10018">
				<Services>
					<Service Uses="LegacyWebImporter" />
					<Service Uses="DirectWebImporter" />
				</Services>
			</Account>
		</Accounts>
	</edge.services>


	<!-- ======================================================== -->
	<!--				Web Importer configuration (Noam)		  -->
	<!-- ======================================================== -->

	<!--============================  CONVERT ACCOUNTS ========================================-->

	<convertAccounts>
		<Account id="10000">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10001">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10002">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
			<type>Yahoo</type>
		</Account>
		<Account id="10003">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10004">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10005">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10006">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10007">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10008">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10009">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10010">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10011">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10012">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10013">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10014">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10015">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10016">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10017">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<Account id="10018">
			<type money="GBP" DateFormat="yyyy/mm/dd" errorAccount="Default 888!">_888BackOffice</type>
		</Account>
		<!--Not working -->
		<SaveFilePath>E:\Edge\Edge.BI\Files\Legacy\IMPORT\BackOffice\888WebConvertorOriginalFiles\</SaveFilePath>
	</convertAccounts>


	<!--============================  CONVERSION TYPE ========================================-->

	<convertionTypes>
		<_888BackOffice>
			<class>888Convertor</class>
			<tmpHeader  serial="Gateway_id" date="Day_code" Benefited_publisher_name="AccountName" ClientSpecific="ClientSpecific"></tmpHeader>
			<TableHeaderCounter>7</TableHeaderCounter>
			<AccountNameRows >888</AccountNameRows>
			<FileSavePath>E:\Edge\Edge.BI\Files\Legacy\IMPORT\BackOffice\888\</FileSavePath>
			<ProcessorFilePath>E:\Edge\Edge.BI\Files\Legacy\IMPORT\BackOffice\888Processed\</ProcessorFilePath>
		</_888BackOffice>
	</convertionTypes>

	<!-- ======================================================== -->
	<!--				WCF configuration						  -->
	<!-- ======================================================== -->

	<system.serviceModel>
		<!--Server configuration-->
		<services>
			<service name="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService" behaviorConfiguration="behavior">
				<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerEdgeWebImporter" />
			</service>
		</services>

		<!--Client configuration 
		 Just copy&paste the <endpoint> elements from the <services> element-->
		<client>
			<!--<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManager" />-->
		</client>

		<behaviors>
			<serviceBehaviors>
				<behavior name="behavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>

			<netTcpBinding>
				<binding name="edgeServiceCommBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
			</wsHttpBinding>
		</bindings>

	</system.serviceModel>

</configuration>


