<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="edge.services" type="Easynet.Edge.Core.Configuration.ServicesSection, Edge.Core"/>

  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Services"/>
    </assemblyBinding>
  </runtime>

  <!-- ======================================================== -->
  <!--						App Settings					  -->
  <!-- ======================================================== -->
  <appSettings>
    <!--Core-->

    <add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=localhost;Initial Catalog=WizardsDB;Integrated Security=True"/>
    <add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="200"/>
    <add key="Easynet.Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
    <add key="Easynet.Edge.Core.Services.Service.AssemblyDirectory" value="Services"/>
    <add key="Easynet.Edge.Core.Configuration.ServiceElement.DefaultMaxExecutionTime" value="00:40:00"/>
    <add key="Easynet.Edge.Core.Domain" value="seperia.hz"/>
    <add key="Easynet.Edge.Services.DataRetrieval.BaseService.SourceConnectionString" value="Data Source=localhost;Initial Catalog=Source;Integrated Security=true"/>
  </appSettings>

  <edge.services>
    <!-- Services -->
    <Services>
      <Service Name="WizardService" Class="EdgeBI.Wizards.WizardHostService,EdgeBI.Wizards"/>

      <Service Name="AccountWizard" WizardID="1">
        <ExecutionSteps>
          <Step ServiceToUse="AccountWizardCollectors" WizardRole="CollectorContainer"/>
          <Step ServiceToUse="AccountWizardExecutors" WizardRole="ExecutorContainer"/>
        </ExecutionSteps>
      </Service>

      <Service Name="AccountWizardCollectors">
        <ExecutionSteps>
          <Step ServiceToUse="CreateNewAccountStepCollector" Name="CreateNewAccountStepCollector" IsStep="True" LastStep="false" StepNum="1"/>
          <Step ServiceToUse="ActiveDirectoryStepCollector" Name="ActiveDirectoryStepCollector" IsStep="True" LastStep="false" StepNum="2"/>
          <Step ServiceToUse="CreateRoleStepCollector" Name="CreateRoleStepCollector" IsStep="True" LastStep="false" StepNum="3" FailureOutcome="Unspecified"/>
          <Step ServiceToUse="CreateNewCubeCollector" Name="CreateNewCubeCollector" IsStep="True" LastStep="false" StepNum="4"/>
          <!---	<Step ServiceToUse="CreatePanoramaBookCollector" Name="CreatePanoramaBookCollector" IsStep="True" LastStep="false" StepNum="4"/>
					<Step ServiceToUse="AddToSSISCollector" Name="AddToSSISCollector" IsStep="True" LastStep="true" StepNum="5"/> -->

        </ExecutionSteps>
      </Service>

      <Service Name="AccountWizardExecutors">
        <ExecutionSteps>
          <Step ServiceToUse="CreateNewAccountStepExecutor" CollectorStep="CreateNewAccountStepExecutor"/>
          <Step ServiceToUse="ActiveDirectoryStepExecutor" CollectorStep="ActiveDirectoryStepCollector"/>
          <Step ServiceToUse="CreateRoleStepExecutor" CollectorStep="CreateRoleStepCollector"/>
          <Step ServiceToUse="CreateNewCubeExecutor" CollectorStep="CreateNewCubeCollector"/>
          <Step ServiceToUse="AddMeasureStepExecutor" CollectorStep="CreateNewCubeCollector"/>
          <Step ServiceToUse="AssignTargetsStepExecutor" CollectorStep="CreateNewCubeCollector"/>
          <Step ServiceToUse="CreatePanoramaBookExecutor" CollectorStep="CreatePanoramaBookCollector"/>
          <Step ServiceToUse="AddToSSISExecutor" CollectorStep="AddToSSISCollector"/>
          <Step ServiceToUse="CubesProcessingExecutor" CollectorStep=""/>
        </ExecutionSteps>

      </Service>
      <Service Name="CreateNewAccountStepCollector" Class="EdgeBI.Wizards.AccountWizard.CreateNewAccountStepCollector,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="ActiveDirectoryStepCollector" Class="EdgeBI.Wizards.AccountWizard.ActiveDirectoryStepCollector,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CreateRoleStepCollector" Class="EdgeBI.Wizards.AccountWizard.CreateRoleStepCollector,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CreateNewCubeCollector" Class="EdgeBI.Wizards.AccountWizard.CreateNewCubeCollector,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CreatePanoramaBookCollector" Class="EdgeBI.Wizards.AccountWizard.CreatePanoramaBookCollector,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="AddToSSISCollector" Class="EdgeBI.Wizards.AccountWizard.AddToSSISCollector,EdgeBI.Wizards.AccountWizard"/>

      <Service Name="CreateNewAccountStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreateNewAccountStepExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="ActiveDirectoryStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.ActiveDirectoryStepExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CreateRoleStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreateRoleStepExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CreateNewCubeExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreateNewCubeExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="AddMeasureStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.AddMeasureStepExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="AssignTargetsStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.AssignTargetsStepExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CreatePanoramaBookExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreatePanoramaBookExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="AddToSSISExecutor"  Class="EdgeBI.Wizards.AccountWizard.AddToSSISExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CubesProcessingExecutor"  Class="EdgeBI.Wizards.AccountWizard.CubesProcessingExecutor,EdgeBI.Wizards.AccountWizard"/>


    </Services>

    <!-- Accounts -->
    <Accounts>
      <!--<Account ID="-1" Name="SYSTEM">
				<Services>
					-->
      <!--<Service Uses="TestDemoAdGroupAdStatus"/>-->
      <!--
				</Services>
			</Account>-->
    </Accounts>
  </edge.services>

  <!-- ======================================================== -->
  <!--				WCF configuration						  -->
  <!-- ======================================================== -->

  <system.serviceModel>
    <!--Server configuration-->
    <services>
      <service name="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService" behaviorConfiguration="behavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/OrganicScheduleManager"/>
      </service>
      <service name="EdgeBI.Wizards.StepCollectorService" behaviorConfiguration="StepCollectorServiceBehavior">
        <endpoint  binding="netTcpBinding" bindingConfiguration="wizardStepBinding" contract="EdgeBI.Wizards.IStepCollector"/>
      </service>
    </services>
    <client>
      <endpoint  name="Test" binding="netTcpBinding" bindingConfiguration="wizardStepBinding"  contract="EdgeBI.Wizards.IStepCollector"></endpoint>
    </client>


    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior" >
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>

        </behavior>
        <behavior name="StepCollectorServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>



    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="edgeServiceCommBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
        <binding name="wizardStepBinding" portSharingEnabled="true" receiveTimeout="9:0:0" closeTimeout="9:0:0" openTimeout="9:0:0" sendTimeout ="9:0:0" maxReceivedMessageSize="10000000"  maxBufferSize="10000000" maxBufferPoolSize="10000000"  />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
