<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="TargetApplicationsConfiguration" type="SchedulersGuards.TargetApplicationsConfiguration,SchedulersGuards"/>
    </configSections>

	<TargetApplicationsConfiguration>
		<TargetApplications>
			<!--<Application ExeName="Edge.Applications.TempScheduler.exe" FormName="Edge.Applications.TempScheduler.exe" ExePath="D:\Edge\Seperia\2.9\Services" StartInPath="D:\Edge\Seperia\2.9\Services\Services"/>-->
			<!--<Application ExeName="SeperiaScheduler_v25.exe" FormName="SeperiaScheduler_v25.exe" ExePath="D:\Edge\Seperia\2.5\Services" StartInPath="D:\Edge\Seperia\2.9\Services"/>-->
			<!--<Application ExeName="EdgeScheduler_29.exe" FormName="EdgeScheduler_29.exe" ExePath="D:\Edge\Edge.BI\2.9\Services" StartInPath="D:\Edge\Edge.BI\2.9\Services\Services"/>-->
			<!--<Application ExeName="EdgeBIScheduler_v25[future].exe" FormName="EdgeBIScheduler_v25[future].exe" ExePath="D:\Edge\Edge.BI\2.5\Services [future]" StartInPath="D:\Edge\Edge.BI\2.5\Services [future]"/>-->
			<Application ExeName="scheduler-291.exe" FormName="scheduler-291.exe" ExePath="D:\Edge\Seperia\2.9.1\Services" StartInPath="D:\Edge\Seperia\2.9.1\Services\Services"/>
			<!--<Application ExeName="FacebookCampaignScheduler.exe" FormName="FacebookCampaignScheduler.exe" ExePath="D:\Edge\Seperia\2.9\FacebookUpdateCamapigns" StartInPath="D:\Edge\Seperia\2.9\FacebookUpdateCamapigns\Services"/>-->
		</TargetApplications>
	</TargetApplicationsConfiguration>
	
</configuration>